<html layout:decorate="~{global/layout}">

<head>
    <title th:text="|게시글 내용 - ${article.id}. ${article.title}|"></title>
</head>

<div layout:fragment="content" class="container mx-auto my-3">

    <div class="font-bold text-3xl">게시글 내용</div>

    <h1 class="font-bold mb-2 text-3xl"></h1>
    <div class="card card-side bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="font-bold mb-2 text-3xl" style="white-space: pre-line;" th:text="${article.title}"></h2>
            <hr class="mb-4">
            <p class="font-bold mb-4" th:text="${article.body}"></p>
            <div>
                <div class="mb-2" style="display:flex; justify-content: flex-end; align-items: flex-end;">
                    <a th:if="${@articleService.canModify(@rq.member, article)}"
                       class="btn btn-neutral mr-2" th:href="|/article/${article.id}/modify|"
                            th:text="수정">
                    </a>
                    <a th:if="${@articleService.canDelete(@rq.member, article)}"
                            class="btn btn-neutral" th:href="|/article/${article.id}/delete|"
                            onclick="return confirm('정말로 삭제하시겠습니까?');"
                            th:text="삭제"></a>
                </div>
                <div style="display:flex; justify-content: flex-end; align-items:flex-end;">
                    <div class="badge badge-neutral mr-3">
                        <span th:if="${article.author != null}" th:text="|작성자 ${article.author.username}|"></span>
                    </div>
                    <div class="badge badge-neutral"
                         th:text="| 작성일 ${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}|">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>

</div>

</html>