<th:block th:fragment="articleTable(articles)">
    <div class="card-side bg-base-100 shadow-xl">
        <div class="card-body">
            <table class="table">
                <thread>
                    <tr class="text-center">
                        <th>번호</th>
                        <th style="width:50%">제목</th>
                        <th>글쓴이</th>
                        <th>작성일시</th>
                    </tr>
                </thread>
                <tbody>
                <tr class="text-center" th:each="article, loop : ${articles}">
                    <td th:text="${article.id}"></td>
                    <td class="text-start">
                        <a th:href="@{|/article/${article.id}/detail|}" th:text="${article.title}"></a>
                    </td>
                    <td><span th:if="${article.author !=null}" th:text="${article.author.username}"></span></td>
                    <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>